# ========================
# Node / React / NestJS
# ========================
node_modules/
dist/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# Environment variables
# ========================
.env
.env.*
!.env.example

# ========================
# Logs
# ========================
logs
*.log

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# IDE
# ========================
.idea/
*.iml
.vscode/
*.swp

# ========================
# Cache / temp
# ========================
.cache/
tmp/
temp/

# ========================
# Optional
# ========================
*.local
